.product {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    cursor: pointer;
  }
  
  .product-image {
    width: 300px;
    height: auto;
    border-radius: 8px;
    border-style: dashed;
  }
  
  .product-name {
    font-size: 25px;
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .product-price {
    color: #800000;
    font-size: 30px;
    margin-top: 5px;
  }
  
  .product-quantity {
    font-size: 20px;
    margin-top: 5px;
    color: hsl(0, 8%, 5%);
  }
  .product-timer {
    font-size: 1em;
    margin-top: 10px;
    color: red;
  }