.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  background-color: hsl(220, 77%, 51%);
  padding: 20px;
  color: white;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
